.header{
  display: flex;
  justify-content: center;
  padding: 1rem 0 3rem;
}

.header-container{
  display: flex;
}

.title{
  border-style: solid;
  border-color: red;
  color: #000000;
  font-size: 3rem;
  text-decoration: none;;
}

