.container{
  display: flex;
  flex-direction :row-reverse;
  height:15vh;
  background: #ACC89F;
  flex-grow: 1;

  img{
    height: 15vh;
  }
}

.playing{
  display: flex;
  flex-direction :column;
  flex-grow: 1;
}

.trackInfo{
  display: flex;
  flex-direction :row;
  font-family: Josefin Sans;
}



